{% style %}
.custom-product__icons img {
  width: {{ block.settings.icon_size }}px;
}
{% endstyle %}

<div class="custom-product__icons">
  {% if block.settings.image_1 != blank %}
  <div>
    {{ block.settings.image_1 | image_url: width: 96 | image_tag }}
  </div>
  {% endif %}
  {% if block.settings.image_2 != blank %}
  <div>
    {{ block.settings.image_2 | image_url: width: 96 | image_tag }}
  </div>
  {% endif %}
  {% if block.settings.image_3 != blank %}
  <div>
    {{ block.settings.image_3 | image_url: width: 96 | image_tag }}
  </div>
  {% endif %}
  {% if block.settings.image_4 != blank %}
  <div>
    {{ block.settings.image_4 | image_url: width: 96 | image_tag }}
  </div>
  {% endif %}
  {% if block.settings.image_5 != blank %}
  <div>
    {{ block.settings.image_5 | image_url: width: 96 | image_tag }}
  </div>
  {% endif %}
</div>