{{ 'custom-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
{% assign product = section.settings.product %}
{% assign selectedProduct = product.variants.first %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="custom-product">
      {% if section.settings.product != blank %}
        <div class="custom-product__col">
          
        </div>
        <div class="custom-product__col">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {% when 'title' %}
                <h2 class="custom-product__title">{{ product.title }}</h2>
              {% when 'description' %}
                <p class="custom-product__description">
                  {{- product.description -}}
                </p>
              {%- endcase -%%}
            {%- endfor -%}
          

          <div class="custom-product__items">
            {% if product.metafields.custom.bundle == true %}
              <h3>What’s inside:</h3>
            {% endif %}
            {% for variant in product.variants %}
              {% if variant.metafields.custom.included_product_1 != blank %}
                <div class="custom-product__item" data-id="{{ variant.id }}">
                  <div class="custom-product__item-icon">
                    {% render 'icon-check' %}
                  </div>
                  <div class="custom-product__item-info">
                    <h4 class="custom-product__item-title">
                      1 X {{ variant.metafields.custom.included_product_1.value.title }}
                    </h4>
                    <p class="custom-product__item-description">
                      {{ variant.metafields.custom.included_product_1.value.description }}
                    </p>
                  </div>
                </div>
              {% endif %}

              {% if variant.metafields.custom.included_product_2 != blank %}
                <div class="custom-product__item" data-id="{{ variant.id }}">
                  <div class="custom-product__item-icon">
                    {% render 'icon-check' %}
                  </div>
                  <div class="custom-product__item-info">
                    <h4 class="custom-product__item-title">
                      1 X {{ variant.metafields.custom.included_product_2.value.title }}
                    </h4>
                    <p class="custom-product__item-description">
                      {{ variant.metafields.custom.included_product_2.value.description }}
                    </p>
                  </div>
                </div>
              {% endif %}

              {% if variant.metafields.custom.included_product_3 != blank %}
                <div class="custom-product__item" data-id="{{ variant.id }}">
                  <div class="custom-product__item-icon">
                    {% render 'icon-check' %}
                  </div>
                  <div class="custom-product__item-info">
                    <h4 class="custom-product__item-title">
                      1 X {{ variant.metafields.custom.included_product_3.value.title }}
                    </h4>
                    <p class="custom-product__item-description">
                      {{ variant.metafields.custom.included_product_3.value.description }}
                    </p>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <custom-product-form>
            {% form 'product', product, id: 'custom-product-form',
              class: 'form',
              novalidate: 'novalidate',
              data-type: 'add-to-cart-form' %}
              <div class="custom-product__form-content">
                {%- if product.variants.size > 1 -%}
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <div class="custom-product__variant">
                        <input type="radio" id="variant-{{ variant.id }}" name="variant" value="{{ variant.id }}"
                               {% if variant == product.selected_or_first_available_variant %}
                                 checked="checked"
                               {% endif %}>
                        <label for="variant-{{ variant.id }}">{{ variant.title }}</label>
                      </div>
                    {% endif %}
                  {% endfor %}
                {%- endif -%}


                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
                <div class="custom-product__form-bottom">
                  <div class="custom-product__form-quantity">
                    <button type="button" class="minus">
                      {% render 'icon-minus' %}
                      <span class="visually-hidden">Minus</span>
                    </button>
                    <input type="text" class="quantity" name="quantity" value="01">
                    <button type="button" class="plus">
                      {% render 'icon-plus' %}
                      <span class="visually-hidden">Plus</span>
                    </button>
                  </div>
                  <div class="custom-product__form-submit">
                    <button type="submit" class="custom-product__form-btn">
                      ADD TO CART -
                      {{ product.selected_or_first_available_variant.compare_at_price | money_with_currency }}
                      {{ product.selected_or_first_available_variant.price | money_with_currency }}
                    </button>
                    {{ form | payment_button }}
                  </div>
                </div>
              </div>
            {% endform %}
          </custom-product-form>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script id="variant-data" type="application/json">
  {
  {% for variant in product.variants %}
    "{{ variant.id }}": {
      "featuredImage": "{{ variant.featured_image.src }}",
      "customProduct1": {
        "title": "{{ variant.metafields.custom.included_product_1.value.title }}",
        "description": "{{ variant.metafields.custom.included_product_1.value.description }}"
      },
      "customProduct2": {
        "title": "{{ variant.metafields.custom.included_product_2.value.title }}",
        "description": "{{ variant.metafields.custom.included_product_2.value.description }}"
      },
      "customProduct3": {
        "title": "{{ variant.metafields.custom.included_product_3.value.title }}",
        "description": "{{ variant.metafields.custom.included_product_3.value.description }}"
      }
    }{% unless forloop.last %}, {% endunless %}
  {% endfor %}
  }
</script>
<script src="{{ 'custom-product.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Custom product section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
	{
		"type": "product",
		"id": "product",
		"label": "Product"
	},
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Product Title",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Product description"
    }
  ],
  "presets": [
    {
      "name": "Custom product section"
    }
  ]
}
{% endschema %}
