{{ 'custom-product.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign variant_images = product.images | map: 'src' %}
{% assign product = section.settings.product %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="custom-product {% unless section.settings.gallery_first_desktop == true %} custom-product--reverse{% endunless %}">
      {% if section.settings.product != blank %}
        <div class="custom-product__col">
          <div class="custom-product__gallery">
            <div id="thumbnail-slider" class="splide">
              <div class="splide__track">
                  <ul class="splide__list">
                    {% for media in product.media %}
                      <li class="splide__slide">
                        {{ media.preview_image.src | image_url: width: 96 | image_tag }}
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
            <div>
              {% for media in product.media %}
                {{ media.preview_image.src | image_url: width: 96 | image_tag }}
              {% endfor %}
            </div>
            <div>
              {% for variant in product.variants %}
                {{ variant.featured_media.src | image_url: width: 96 | image_tag }}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="custom-product__col custom-product__col-text--{{ section.settings.text_align }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {% when 'title' %}
                  <h2 class="custom-product__title {{ block.settings.heading_size }}">{{ product.title }}</h2>
              {% when 'description' %}
                <p class="custom-product__description">
                  {{- product.description -}}
                </p>
              {% when 'icons' %}
                {% render 'custom-icons', block: block %}
              {% when 'rating' %}
                {% render 'custom-rating', block: block %}
              {% when 'form' %}
                <custom-product-form>
                  {% for variant in product.variants %}
                  <div class="custom-product__items" data-id="{{ variant.id }}">
                    {% if product.metafields.custom.bundle == true %}
                      <h3>What’s inside:</h3>
                    {% endif %}
                      {% if variant.metafields.custom.included_product_1 != blank %}
                        <div class="custom-product__item" data-id="{{ variant.id }}">
                          <div class="custom-product__item-icon">
                            {% render 'icon-check' %}
                          </div>
                          <div class="custom-product__item-info">
                            <h4 class="custom-product__item-title">
                              1 X {{ variant.metafields.custom.included_product_1.value.title }}
                            </h4>
                            <p class="custom-product__item-description">
                              {{ variant.metafields.custom.included_product_1.value.description }}
                            </p>
                          </div>
                        </div>
                      {% endif %}
        
                      {% if variant.metafields.custom.included_product_2 != blank %}
                        <div class="custom-product__item" data-id="{{ variant.id }}">
                          <div class="custom-product__item-icon">
                            {% render 'icon-check' %}
                          </div>
                          <div class="custom-product__item-info">
                            <h4 class="custom-product__item-title">
                              1 X {{ variant.metafields.custom.included_product_2.value.title }}
                            </h4>
                            <p class="custom-product__item-description">
                              {{ variant.metafields.custom.included_product_2.value.description }}
                            </p>
                          </div>
                        </div>
                      {% endif %}
        
                      {% if variant.metafields.custom.included_product_3 != blank %}
                        <div class="custom-product__item" data-id="{{ variant.id }}">
                          <div class="custom-product__item-icon">
                            {% render 'icon-check' %}
                          </div>
                          <div class="custom-product__item-info">
                            <h4 class="custom-product__item-title">
                              1 X {{ variant.metafields.custom.included_product_3.value.title }}
                            </h4>
                            <p class="custom-product__item-description">
                              {{ variant.metafields.custom.included_product_3.value.description }}
                            </p>
                          </div>
                        </div>
                      {% endif %}
                  </div>
                  {% endfor %}
                  {% form 'product', product, id: 'custom-product-form',
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form' %}
                    <div class="custom-product__form-content">
                      {%- if product.variants.size > 1 -%}
                        {% for variant in product.variants %}
                          {% if variant.available %}
                            <div class="custom-product__variant">
                              <label for="variant-{{ variant.id }}" class="custom-product__variant-label">
                                <input type="radio" id="variant-{{ variant.id }}" name="variant" value="{{ variant.id }}"
                                     {% if variant == product.selected_or_first_available_variant %}
                                       checked="checked"
                                     {% endif %} class="custom-product__variant-input">
                                <span class="custom-product__variant-text">{{ variant.title }}</span>
                              </label>
                            </div>
                          {% endif %}
                        {% endfor %}
                      {%- endif -%}
      
      
                      <input type="hidden" name="id" class="js-hidden-input" value="{{ product.selected_or_first_available_variant.id }}">
                      {{ form | payment_terms }}
                      {% if section.settings.free_shipping_message == true %}
                        <p class="custom-product__message custom-product__message--desktop">Free US Shipping over $65 | Free US Returns</p>
                      {% endif %}
                      <div class="custom-product__form-bottom">
                        <div class="custom-product__form-quantity">
                          <button type="button" class="minus">
                            {% render 'icon-minus' %}
                            <span class="visually-hidden">Minus</span>
                          </button>
                          <label class="visually-hidden">Quantity:</label>
                          <input type="text" class="quantity" name="quantity" value="01">
                          <button type="button" class="plus">
                            {% render 'icon-plus' %}
                            <span class="visually-hidden">Plus</span>
                          </button>
                        </div>
                        <div class="custom-product__form-submit">
                          <button type="submit" class="custom-product__form-btn">
                            ADD TO CART -
                            {{ product.selected_or_first_available_variant.compare_at_price | money_with_currency }}
                            <span>{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
                          </button>
                          <!-- {{ form | payment_button }} -->
                          {% if section.settings.free_shipping_message == true %}
                            <p class="custom-product__message custom-product__message--mobile">Free US Shipping over $65 | Free US Returns</p>
                          {% endif %}
                          {% if section.settings.shop_pay_message == true or section.settins.shop_pay_logo != blank %}
                            <p class="custom-product__message custom-product__message--shop-pay">4 interest-free installments of $18.00 with
                              {{ section.settings.shop_pay_logo | image_url: width: 59 | image_tag }}
                            </p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endform %}
                </custom-product-form>
              {%- endcase -%%}
            {%- endfor -%}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script id="variant-data" type="application/json">
  {
  {% for variant in product.variants %}
    "{{ variant.id }}": {
      "featuredImage": "{{ variant.featured_image.src }}",
      "customProduct1": {
        "title": "{{ variant.metafields.custom.included_product_1.value.title }}",
        "description": "{{ variant.metafields.custom.included_product_1.value.description }}"
      },
      "customProduct2": {
        "title": "{{ variant.metafields.custom.included_product_2.value.title }}",
        "description": "{{ variant.metafields.custom.included_product_2.value.description }}"
      },
      "customProduct3": {
        "title": "{{ variant.metafields.custom.included_product_3.value.title }}",
        "description": "{{ variant.metafields.custom.included_product_3.value.description }}"
      }
    }{% unless forloop.last %}, {% endunless %}
  {% endfor %}
  }
</script>
<script src="{{ 'splide-slider.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#thumbnail-slider', {
  		fixedWidth: 100,
  		gap       : 10,
  		rewind    : true,
  		pagination: false,
    } ).mount();
  } );
</script>
<script src="{{ 'custom-product.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Custom product section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
	{
		"type": "product",
		"id": "product",
		"label": "Product"
	},
    {
      "type": "checkbox",
      "id": "gallery_first_desktop",
      "label": "Gallery first on desktop",
      "default": true
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "free_shipping_message",
      "label": "Dispay free shipping & returns message",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "shop_pay_message",
      "label": "Dispay Shop Pay message",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "shop_pay_logo",
      "label": "Shop Pay Logo"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Product Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ],
          "default": "medium"
        }
      ]
    },
    {
      "type": "description",
      "name": "Product description",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "Ratings",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "default": 5,
          "max": 5,
          "min": 1,
          "step": 1
        },
        {
          "type": "number",
          "id": "number_of_reviews",
          "label": "Number of reviews",
          "default": 107
        },
        {
          "type": "checkbox",
          "id": "display_number_of_reviews",
          "label": "Dispay number of reviews text",
          "default": true
        },
        {
          "type": "color",
          "id": "star_color",
          "label": "Star color"
        }
      ]
    },
    {
      "type": "form",
      "name": "Product Form",
      "limit": 1
    },
    {
      "type": "icons",
      "name": "Icons",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "First Icon"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Second Icon"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Third Icon"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Fourth Icon"
        },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Fifth Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom product section"
    }
  ]
}
{% endschema %}
